# Patterns to ignore when packaging Helm charts.

# Common VCS dirs
.git/
.gitignore
.bzr/
.bzrignore
.hg/
.hgignore
.svn/

# Common backup files
*.swp
*.bak
*.tmp
*.orig
*.old

# Common editor dirs
.idea/
.vscode/

# Common build artifacts
*.lock
node_modules/
dist/
venv/
__pycache__/
target/
coverage/

# Specific files
README.md
LICENSE
.DS_Store
.env
*.log
